.prodigy-container > .prodigy-content {
    white-space: normal;
    border-top: 1px solid #ddd;
}

.cleaned {
    text-align: left;
    font-size: 14px;
}

.cleaned pre {
    background-color: #eee;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    padding: 15px 20px;
    border-radius: 15px;
    white-space: pre-wrap;
}

summary {
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
}

details {
    margin-bottom: 1rem;
}
