From the text below, extract the following entities in the following format:
{# whitespace #}
{%- for label in labels -%}
{{label}}: <JSON list of strings>
{# whitespace #}
{%- endfor -%}
{# whitespace #}
Text:
"""
{{text}}
"""
{# whitespace #}
{%- if examples -%}
{# whitespace #}
For example:
{# whitespace #}
{# whitespace #}
{%- for example in examples -%}
Text:
"""
{{ example.text }}
"""
{# whitespace #}
{%- for label, substrings in example.entities.items() -%}
{{ label }}: {{ substrings | tojson }}
{# whitespace #}
{%- endfor -%}
{# whitespace #}
{% endfor -%}
{%- endif -%}
