I want to generate more examples of {{description}}. Create some variants of the following sentences.

Examples:
{%- for example in examples -%}
- {{ example }}
{%- endfor -%}
{# whitespace #}

Variants:
-