I want to generate more examples of {{description}}. Create some variants of the following sentences.

Examples:
{# whitespace #}
{%- for example in examples -%}
- {{ example }}
{# whitespace #}
{%- endfor -%}
{# whitespace #}
Variants:
-