Generate me {{n}} examples of {{description}}
{%- if variants -%} 
{# whitespace #} and their alternative spellings
{%- endif -%}. 

Here are the examples:
{%- if examples -%}
{%- for example in examples -%}
{# whitespace #}
- {{example}}
{%- endfor -%}
{%- endif -%}
{# whitespace #}
-
