Generate me {{n}} {{'more ' if more else ''}}examples of {{description}}. 

Here are the examples:
{%- if examples -%}
{%- for example in examples -%}
{# whitespace #}
- {{example}}
{%- endfor -%}
{%- endif -%}
{# whitespace #}
-
