Classify the text below as one of the following: {%- for label in labels -%}{{label}}{%- endfor -%}
{# whitespace #}
Answer in the following format:
{# whitespace #}
answer: <string>
reason: <string>
{# whitespace #}
Text:
"""
{{text}}
"""