Classify the text below given the following labels: {{ labels|join(", ") }}
{% if exclusive_classes %}
The task is exclusive, so only choose one label from what I provided.
{% else %}
The task is non-exclusive, so you can provide more than one label as long as they're comma-delimited.
{% endif %}
{# whitespace #}
Answer in the following format:
{# whitespace #}
answer: <comma delimited string if non-exclusive, a single string if exclusive>
reason: <string>
{# whitespace #}
Text:
"""
{{text}}
"""