From the text below, determine whether or not it contains a recipe for a
specific dish. If it is a recipe, answer "accept." If it is not a recipe, answer
"reject." Answer in the following format:
{# whitespace #}
answer: <accept or reject>
reason: <string>
{# whitespace #}
Text:
"""
{{text}}
"""
